{
    "openapi": "3.0.1",
    "info": {
        "title": "ZHIPU AI File API",
        "description": "ZHIPU AI 文件管理接口，支持文件上传、下载、删除和列表查询等功能。",
        "license": {
            "name": "ZHIPU AI 开发者协议和政策",
            "url": "https://chat.z.ai/legal-agreement/terms-of-service"
        },
        "version": "1.0.0",
        "contact": {
            "name": "Z.AI 开发者",
            "url": "https://chat.z.ai/legal-agreement/privacy-policy",
            "email": "user_feedback@z.ai"
        }
    },
    "tags": [
        {
            "name": "file",
            "description": "File API"
        }
    ],
    "servers": [
        {
            "url": "https://open.bigmodel.cn/api/",
            "description": "开放平台服务"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "paths": {
        "/paas/v4/files": {
            "get": {
                "tags": [
                    "file"
                ],
                "summary": "获取文件列表",
                "description": "获取用户上传的文件列表，支持分页查询。",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptLanguage"
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 20,
                            "description": "返回结果的数量限制"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "desc",
                                "asc"
                            ],
                            "default": "desc",
                            "description": "排序方式"
                        }
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "用于分页的游标"
                        }
                    },
                    {
                        "name": "before",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "description": "用于分页的游标"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "业务处理成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FileListResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "请求失败。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "file"
                ],
                "summary": "上传文件",
                "description": "上传文件到平台，支持多种文件格式。",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptLanguage"
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/FileUploadRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "业务处理成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FileObject"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "请求失败。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/paas/v4/files/{file_id}": {
            "get": {
                "tags": [
                    "file"
                ],
                "summary": "获取文件信息",
                "description": "获取指定文件的详细信息。",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptLanguage"
                    },
                    {
                        "name": "file_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "文件 ID"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "业务处理成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FileObject"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "请求失败。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "file"
                ],
                "summary": "删除文件",
                "description": "删除指定的文件。",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptLanguage"
                    },
                    {
                        "name": "file_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "文件 ID"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "业务处理成功",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": "文件 ID"
                                        },
                                        "object": {
                                            "type": "string",
                                            "enum": [
                                                "file"
                                            ],
                                            "description": "对象类型"
                                        },
                                        "deleted": {
                                            "type": "boolean",
                                            "description": "是否删除成功"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "请求失败。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/paas/v4/files/{file_id}/content": {
            "get": {
                "tags": [
                    "file"
                ],
                "summary": "下载文件内容",
                "description": "下载指定文件的内容。",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AcceptLanguage"
                    },
                    {
                        "name": "file_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "description": "文件 ID"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "业务处理成功",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "请求失败。",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "parameters": {
            "AcceptLanguage": {
                "name": "Accept-Language",
                "in": "header",
                "schema": {
                    "type": "string",
                    "description": "HTTP 请求头，用于告知服务器浏览器的首选语言列表，以便服务器返回最符合用户偏好的语言内容。",
                    "default": "cn",
                    "enum": [
                        "en",
                        "cn"
                    ]
                },
                "required": true
            }
        },
        "schemas": {
            "FileUploadRequest": {
                "type": "object",
                "required": [
                    "file"
                ],
                "properties": {
                    "file": {
                        "type": "string",
                        "format": "binary",
                        "description": "要上传的文件"
                    },
                    "purpose": {
                        "type": "string",
                        "enum": [
                            "assistants",
                            "assistants_output"
                        ],
                        "description": "文件用途"
                    }
                }
            },
            "FileListResponse": {
                "type": "object",
                "properties": {
                    "object": {
                        "type": "string",
                        "enum": [
                            "list"
                        ],
                        "description": "对象类型"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/FileObject"
                        },
                        "description": "文件列表"
                    },
                    "first_id": {
                        "type": "string",
                        "description": "第一个文件的 ID"
                    },
                    "last_id": {
                        "type": "string",
                        "description": "最后一个文件的 ID"
                    },
                    "has_more": {
                        "type": "boolean",
                        "description": "是否还有更多文件"
                    }
                }
            },
            "FileObject": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "文件 ID"
                    },
                    "object": {
                        "type": "string",
                        "enum": [
                            "file"
                        ],
                        "description": "对象类型"
                    },
                    "bytes": {
                        "type": "integer",
                        "description": "文件大小（字节）"
                    },
                    "created_at": {
                        "type": "integer",
                        "description": "创建时间戳"
                    },
                    "filename": {
                        "type": "string",
                        "description": "文件名"
                    },
                    "purpose": {
                        "type": "string",
                        "enum": [
                            "assistants",
                            "assistants_output"
                        ],
                        "description": "文件用途"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "uploaded",
                            "processed",
                            "error"
                        ],
                        "description": "文件状态"
                    },
                    "status_details": {
                        "type": "string",
                        "description": "状态详情"
                    }
                }
            },
            "Error": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "object",
                        "properties": {
                            "message": {
                                "type": "string",
                                "description": "错误信息"
                            },
                            "type": {
                                "type": "string",
                                "description": "错误类型"
                            },
                            "param": {
                                "type": "string",
                                "description": "错误参数"
                            },
                            "code": {
                                "type": "string",
                                "description": "错误代码"
                            }
                        }
                    }
                }
            }
        }
    }
}