{
  "openapi": "3.0.1",
  "info": {
    "title": "ZHIPU AI API",
    "description": "ZHIPU AI 接口提供强大的 AI 能力，包括聊天对话、工具调用和视频生成。",
    "license": {
      "name": "ZHIPU AI 开发者协议和政策",
      "url": "https://chat.z.ai/legal-agreement/terms-of-service"
    },
    "version": "1.0.0",
    "contact": {
      "name": "Z.AI 开发者",
      "url": "https://chat.z.ai/legal-agreement/privacy-policy",
      "email": "user_feedback@z.ai"
    }
  },
  "tags": [
    {
      "name": "chat",
      "description": "Chat API"
    },
    {
      "name": "embedding",
      "description": "Embedding API"
    },
    {
      "name": "audio",
      "description": "Audio API"
    },
    {
      "name": "video",
      "description": "Video API"
    },
    {
      "name": "image",
      "description": "Image API"
    },
    {
      "name": "tool",
      "description": "Tool API"
    },
    {
      "name": "agent",
      "description": "Agent API"
    },
    {
      "name": "assistant",
      "description": "Assistant API"
    },
    {
      "name": "turning",
      "description": "Fine Turning API"
    },
    {
      "name": "document",
      "description": "Document API"
    },
    {
      "name": "file",
      "description": "File API"
    },
    {
      "name": "knowledge",
      "description": "Knowledge API"
    },
    {
      "name": "realtime",
      "description": "Realtime API"
    },
    {
      "name": "batch",
      "description": "Batch API"
    }
  ],
  "servers": [
    {
      "url": "https://open.bigmodel.cn/api/",
      "description": "开放平台服务"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/paas/v4/chat/completions": {
      "post": {
        "tags": [
          "chat"
        ],
        "summary": "创建聊天补全",
        "description": "为聊天对话生成 AI 回复。支持多种应用场景，提供智能对话能力。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/audio/customization": {
      "post": {
        "tags": [
          "audio"
        ],
        "summary": "语音定制",
        "description": "使用高级神经模型进行语音克隆和定制，创建个性化语音模型。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AudioCustomizationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudioCustomizationResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/images/generations": {
      "post": {
        "tags": [
          "image"
        ],
        "summary": "图像生成",
        "description": "使用 CogView-3-Plus 模型从文本提示生成高质量图像，支持多种风格和尺寸。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateImageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/embeddings": {
      "post": {
        "tags": [
          "embedding"
        ],
        "summary": "文本嵌入",
        "description": "使用 GLM 嵌入模型将文本转换为高维向量表示，用于语义相似性和搜索。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmbeddingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EmbeddingResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/files": {
      "post": {
        "tags": [
          "file"
        ],
        "summary": "上传文件",
        "description": "上传文件到平台，用于微调、知识库或其他AI任务。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/FileUploadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileObject"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "file"
        ],
        "summary": "查询文件列表",
        "description": "获取已上传文件的分页列表，支持按用途和排序过滤。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "name": "after",
            "in": "query",
            "description": "分页游标",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "purpose",
            "in": "query",
            "description": "按用途过滤文件",
            "schema": {
              "type": "string",
              "enum": [
                "fine-tune",
                "assistants"
              ]
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "排序方式",
            "schema": {
              "type": "string",
              "enum": [
                "created_at"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "每页返回的文件数量",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileListResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/files/{file_id}": {
      "get": {
        "tags": [
          "file"
        ],
        "summary": "获取文件信息",
        "description": "获取指定文件的详细信息和元数据。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "description": "文件唯一标识符",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileObject"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "file"
        ],
        "summary": "删除文件",
        "description": "永久删除指定文件及其所有关联数据。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "description": "文件唯一标识符",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileDeletedResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/files/{file_id}/content": {
      "get": {
        "tags": [
          "file"
        ],
        "summary": "下载文件内容",
        "description": "流式下载文件的实际内容。",
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "description": "文件唯一标识符",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/videos/generations": {
      "post": {
        "tags": [
          "video"
        ],
        "summary": "生成视频",
        "description": "通过文本或图像生成视频内容。支持多种视频生成方式，包括文本转视频、图像转视频等。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "title": "CogVideoX-2",
                    "$ref": "#/components/schemas/CogVideoX2Request"
                  },
                  {
                    "title": "Vidu: Text to Video",
                    "$ref": "#/components/schemas/ViduText2VideoRequest"
                  },
                  {
                    "title": "Vidu: Image to Video",
                    "$ref": "#/components/schemas/ViduImage2VideoRequest"
                  },
                  {
                    "title": "Vidu: First & Last Frame to Video",
                    "$ref": "#/components/schemas/ViduFrames2VideoRequest"
                  },
                  {
                    "title": "Vidu: Ref to Video",
                    "$ref": "#/components/schemas/ViduReference2VideoRequest"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VideoResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/async-result/{id}": {
      "get": {
        "tags": [
          "video"
        ],
        "summary": "查询异步结果",
        "description": "查询异步请求的处理结果和状态。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "任务 ID。"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "model": {
                      "type": "string",
                      "description": "模型名称。"
                    },
                    "video_result": {
                      "type": "array",
                      "description": "视频生成结果。",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string",
                            "description": "视频链接。"
                          },
                          "cover_image_url": {
                            "type": "string",
                            "description": "视频封面链接。"
                          }
                        }
                      }
                    },
                    "task_status": {
                      "type": "string",
                      "description": "处理状态，`PROCESSING (处理中)`、`SUCCESS (成功)`、`FAIL (失败)`。注意：处理状态需要通过查询获取。"
                    },
                    "request_id": {
                      "type": "string",
                      "description": "客户端请求时用户提交的任务编号或平台生成的任务编号。"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/web_search": {
      "post": {
        "tags": [
          "tool"
        ],
        "summary": "网络搜索",
        "description": "专为 AI 模型优化的网络搜索服务。提供结构化的搜索结果，包括网页标题、链接、摘要等信息。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebSearchResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/audio/speech": {
      "post": {
        "tags": [
          "audio"
        ],
        "summary": "文本转语音",
        "description": "使用 GLM-4-Voice 将文本转换为自然语音，支持多种声音、情感控制和语调调整。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AudioSpeechRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "audio/*": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/audio/transcriptions": {
      "post": {
        "tags": [
          "audio"
        ],
        "summary": "语音转文本",
        "description": "使用 GLM ASR 模型将音频文件转录为文本，支持多语言和实时流式转录。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AudioTranscriptionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AudioTranscriptionResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/fine_tuning/jobs": {
      "post": {
        "tags": [
          "turning"
        ],
        "summary": "创建微调任务",
        "description": "创建一个新的微调任务来训练自定义模型。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FineTuningJobCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FineTuningJobObject"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "turning"
        ],
        "summary": "查询微调任务列表",
        "description": "获取用户的微调任务分页列表。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "name": "after",
            "in": "query",
            "description": "分页游标",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "每页返回的任务数量",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FineTuningJobListResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/fine_tuning/jobs/{fine_tuning_job_id}": {
      "get": {
        "tags": [
          "turning"
        ],
        "summary": "获取微调任务详情",
        "description": "获取指定微调任务的详细信息和状态。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "name": "fine_tuning_job_id",
            "in": "path",
            "required": true,
            "description": "微调任务唯一标识符",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FineTuningJobObject"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "turning"
        ],
        "summary": "删除微调任务",
        "description": "删除指定的微调任务及其相关数据。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "name": "fine_tuning_job_id",
            "in": "path",
            "required": true,
            "description": "微调任务唯一标识符",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FineTuningJobDeletedResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/fine_tuning/jobs/{fine_tuning_job_id}/cancel": {
      "post": {
        "tags": [
          "turning"
        ],
        "summary": "取消微调任务",
        "description": "取消正在运行的微调任务。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "name": "fine_tuning_job_id",
            "in": "path",
            "required": true,
            "description": "微调任务唯一标识符",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FineTuningJobObject"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/fine_tuning/jobs/{fine_tuning_job_id}/events": {
      "get": {
        "tags": [
          "turning"
        ],
        "summary": "获取微调任务事件",
        "description": "获取微调任务的训练事件和日志。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "name": "fine_tuning_job_id",
            "in": "path",
            "required": true,
            "description": "微调任务唯一标识符",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "分页游标",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "每页返回的事件数量",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FineTuningJobEventListResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/fine_tuning/fine_tuned_models/{fine_tuned_model}": {
      "delete": {
        "tags": [
          "turning"
        ],
        "summary": "删除微调模型",
        "description": "删除指定的微调模型。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "name": "fine_tuned_model",
            "in": "path",
            "required": true,
            "description": "微调模型唯一标识符",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FineTunedModelDeletedResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/tools": {
      "post": {
        "tags": [
          "tool"
        ],
        "summary": "网络搜索",
        "description": "执行网络搜索并返回综合结果。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebSearchParamsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebSearchResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents": {
      "post": {
        "tags": ["agent"],
        "summary": "智能体对话",
        "description": "与智能体进行对话交互。支持同步和流式调用，提供智能体的专业能力。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/async-result": {
      "get": {
        "tags": ["agent"],
        "summary": "查询异步结果",
        "description": "查询智能体异步任务的处理结果和状态。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "name": "async_id",
            "in": "query",
            "required": true,
            "description": "任务ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "agent_id",
            "in": "query",
            "required": true,
            "description": "agent智能体名称，如doc_translation_agent",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentAsyncResultResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/assistant": {
      "post": {
        "tags": [
          "assistant"
        ],
        "summary": "助手对话",
        "description": "与AI助手进行对话，支持流式和同步模式。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "name": "stream",
            "in": "query",
            "description": "是否启用流式响应",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssistantRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssistantResponse"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string",
                  "description": "流式响应数据"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/assistant/list": {
      "post": {
        "tags": [
          "assistant"
        ],
        "summary": "查询助手支持能力",
        "description": "查询助手支持的功能和能力列表。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssistantSupportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssistantSupportResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/assistant/conversation/list": {
      "post": {
        "tags": [
          "assistant"
        ],
        "summary": "查询对话使用统计",
        "description": "查询助手对话的使用统计信息。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConversationUsageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConversationUsageResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/batches": {
      "post": {
        "tags": [
          "batch"
        ],
        "summary": "创建批处理任务",
        "description": "创建一个新的批处理任务。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchObject"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "batch"
        ],
        "summary": "列出批处理任务",
        "description": "获取批处理任务列表，支持分页。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "name": "after",
            "in": "query",
            "description": "分页游标，用于获取指定ID之后的结果",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "返回结果的最大数量",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchListResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/batches/{batch_id}": {
      "get": {
        "tags": [
          "batch"
        ],
        "summary": "获取批处理任务详情",
        "description": "根据批处理任务ID获取详细信息。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "description": "批处理任务ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchObject"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/batches/{batch_id}/cancel": {
      "post": {
        "tags": [
          "batch"
        ],
        "summary": "取消批处理任务",
        "description": "取消正在运行的批处理任务。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "name": "batch_id",
            "in": "path",
            "required": true,
            "description": "批处理任务ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchObject"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/knowledge": {
      "post": {
        "tags": [
          "knowledge"
        ],
        "summary": "创建知识库",
        "description": "创建一个新的知识库。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KnowledgeCreateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeObject"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "knowledge"
        ],
        "summary": "查询知识库列表",
        "description": "获取知识库列表，支持分页。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "name": "page",
            "in": "query",
            "description": "页码",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "每页大小",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeListResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/knowledge/{knowledge_id}": {
      "put": {
        "tags": [
          "knowledge"
        ],
        "summary": "修改知识库",
        "description": "更新现有知识库的信息。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "name": "knowledge_id",
            "in": "path",
            "required": true,
            "description": "知识库ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KnowledgeModifyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeObject"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "knowledge"
        ],
        "summary": "删除知识库",
        "description": "删除指定的知识库。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "name": "knowledge_id",
            "in": "path",
            "required": true,
            "description": "知识库ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeDeletedResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/knowledge/capacity": {
      "get": {
        "tags": [
          "knowledge"
        ],
        "summary": "查询知识库使用情况",
        "description": "获取知识库的使用统计信息。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeCapacityResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/paas/v4/document/{document_id}": {
      "put": {
        "tags": [
          "document"
        ],
        "summary": "修改文档",
        "description": "更新知识库中的文档信息。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "description": "文档ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentModifyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentObject"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "document"
        ],
        "summary": "删除文档",
        "description": "从知识库中删除指定文档。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "description": "文档ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentDeletedResponse"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "document"
        ],
        "summary": "获取文档详情",
        "description": "根据文档ID获取详细信息。",
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptLanguage"
          },
          {
            "name": "document_id",
            "in": "path",
            "required": true,
            "description": "文档ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "业务处理成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentObject"
                }
              }
            }
          },
          "default": {
            "description": "请求失败。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "AcceptLanguage": {
        "name": "Accept-Language",
        "in": "header",
        "schema": {
          "type": "string",
          "description": "HTTP 请求头，用于告知服务器浏览器的首选语言列表，以便服务器返回最符合用户偏好的语言内容。",
          "default": "cn",
          "enum": [
            "en",
            "cn"
          ]
        },
        "required": true
      }
    },
    "schemas": {
      "ChatCompletionRequest": {
        "required": [
          "model",
          "messages"
        ],
        "type": "object",
        "properties": {
          "model": {
            "type": "string",
            "description": "要调用的模型代码",
            "example": "glm-4-32b-0414-128k",
            "default": "glm-4-32b-0414-128k",
            "enum": [
              "glm-4-32b-0414-128k"
            ]
          },
          "messages": {
            "type": "array",
            "description": "当前对话消息列表作为模型的提示输入，以 JSON 数组格式提供，例如：`{\"role\": \"user\", \"content\": \"Hello\"}`。可能的消息类型包括系统消息、用户消息、助手消息和工具消息。",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string",
                  "description": "消息作者的角色。可选择：system、user 或 assistant。",
                  "example": "user",
                  "default": "user",
                  "enum": [
                    "user",
                    "assistant",
                    "system"
                  ]
                },
                "content": {
                  "type": "string",
                  "description": "消息内容",
                  "example": "What opportunities and challenges will the Chinese large model industry face in 2025?"
                }
              },
              "required": [
                "role",
                "content"
              ]
            },
            "minItems": 1,
            "maxItems": 10
          },
          "request_id": {
            "type": "string",
            "description": "由用户端传递，需要唯一；用于区分每个请求。如果用户端未提供，平台将默认生成一个。"
          },
          "do_sample": {
            "type": "boolean",
            "example": true,
            "default": true,
            "description": "当 do_sample 为 true 时，启用采样策略；当 do_sample 为 false 时，temperature 和 top_p 等采样策略参数将不生效。默认值为 `true`。"
          },
          "stream": {
            "type": "boolean",
            "example": false,
            "default": false,
            "description": "使用同步调用时，此参数应设置为 false 或省略。表示模型在生成所有内容后一次性返回全部内容。默认值为 false。如果设置为 true，模型将通过标准事件流分块返回生成的内容。当事件流结束时，将返回 `data: [DONE]` 消息。"
          },
          "temperature": {
            "type": "number",
            "description": "采样温度，控制输出的随机性，必须是范围 `[0.0, 1.0]` 内的正数，默认值为 `0.95`。",
            "format": "float",
            "example": 0.95,
            "default": 0.95,
            "minimum": 0.0,
            "maximum": 1.0
          },
          "top_p": {
            "type": "number",
            "description": "另一种温度采样方法，取值范围为：`[0.0, 1.0]`，默认值为 `0.7`。",
            "format": "float",
            "example": 0.7,
            "default": 0.7,
            "minimum": 0.0,
            "maximum": 1.0
          },
          "max_tokens": {
            "type": "integer",
            "description": "模型输出的最大令牌数，最大输出为 `4095`，默认值为 `1024`。",
            "example": 1024,
            "default": 1024,
            "minimum": 1,
            "maximum": 4095
          },
          "tools": {
            "type": "array",
            "description": "模型可以调用的工具列表。目前仅支持函数作为工具。使用此参数提供模型可以生成 JSON 输入的函数列表。最多支持 128 个函数。\n",
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/FunctionToolSchema"
                }
              },
              {
                "items": {
                  "$ref": "#/components/schemas/RetrievalToolSchema"
                }
              }
            ]
          }
        }
      },
      "WebSearchToolSchema": {
        "type": "object",
        "title": "Web Search",
        "properties": {
          "type": {
            "type": "string",
            "default": "web_search",
            "enum": [
              "web_search"
            ]
          },
          "web_search": {
            "$ref": "#/components/schemas/WebSearchObject"
          }
        },
        "required": [
          "type",
          "web_search"
        ],
        "additionalProperties": false
      },
      "WebSearchObject": {
        "type": "object",
        "properties": {
          "enable": {
            "type": "boolean",
            "description": "是否启用搜索功能。\n默认为 `false`。设置为 true 以启用。"
          },
          "search_engine": {
            "type": "string",
            "description": "搜索引擎类型。\n默认为 `search_std`。支持：`search_std`、`search_pro`、`search_pro_sogou`、`search_pro_quark`、`search_pro_jina`、`search_pro_bing`。",
            "enum": [
              "search_std",
              "search_pro",
              "search_pro_sogou",
              "search_pro_quark",
              "search_pro_jina",
              "search_pro_bing"
            ]
          },
          "search_query": {
            "type": "string",
            "description": "强制触发搜索"
          },
          "count": {
            "type": "integer",
            "description": "返回结果数量\n范围：`1-50`，每次搜索最多 `50` 个结果\n默认为 `10`\n支持的引擎：`search_std`、`search_pro`、`search_pro_sogou`\n对于 `search_pro_sogou`：允许的值为 `10`、`20`、`30`、`40`、`50`",
            "minimum": 1,
            "maximum": 50
          },
          "search_domain_filter": {
            "type": "string",
            "description": "将搜索结果限制为指定的白名单域名。白名单：直接输入域名（例如：www.example.com）\n支持的引擎：`search_std`、`search_pro`、`search_pro_sogou`、`search_pro_Jina`"
          },
          "search_recency_filter": {
            "type": "string",
            "description": "将搜索限制在特定时间范围内。\n默认为 `noLimit`\n值：\n`oneDay`，一天内\n`oneWeek`，一周内\n`oneMonth`，一个月内\n`oneYear`，一年内\n`noLimit`，无限制（默认）\n支持的引擎：`search_std`、`search_pro`、`search_pro_sogou`、`search_pro_quark`",
            "enum": [
              "oneDay",
              "oneWeek",
              "oneMonth",
              "oneYear",
              "noLimit"
            ]
          },
          "content_size": {
            "type": "string",
            "description": "网页摘要的字符数。\n默认为 `medium`\n`medium`：适用于大多数查询的平衡模式。400-600 个字符\n`high`：最大化上下文以获得全面答案，2500 个字符。",
            "enum": [
              "medium",
              "high"
            ]
          },
          "result_sequence": {
            "type": "string",
            "description": "指定搜索结果是在模型响应之前还是之后显示。选项：`before`、`after`。默认为 `after`",
            "enum": [
              "before",
              "after"
            ]
          },
          "search_result": {
            "type": "boolean",
            "description": "是否在响应中返回搜索结果。\n默认为 `false`"
          },
          "require_search": {
            "type": "boolean",
            "description": "是否强制基于搜索结果的模型响应。\n默认为 `false`"
          },
          "search_prompt": {
            "type": "string",
            "description": "自定义搜索结果处理方式的提示词。\n默认提示词：\n`你是一个智能问答专家，具有综合信息、识别时间、理解语义和清理矛盾数据的能力。当前日期是 {{current_date}}。将此作为唯一的时间参考。基于以下信息，为用户的问题提供全面准确的答案。只提取对答案有价值的内容。确保答案及时且权威。直接陈述答案，不要引用数据源或内部流程。`"
          }
        },
        "required": [
          "search_engine"
        ]
      },
      "FunctionToolSchema": {
        "type": "object",
        "title": "Function Call",
        "properties": {
          "type": {
            "type": "string",
            "default": "function",
            "enum": [
              "function"
            ]
          },
          "function": {
            "$ref": "#/components/schemas/FunctionObject"
          }
        },
        "required": [
          "type",
          "function"
        ],
        "additionalProperties": false
      },
      "FunctionObject": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "要调用的函数名称。必须是 a-z、A-Z、0-9，或包含下划线和破折号，最大长度为 64。",
            "minLength": 1,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9_-]+$"
          },
          "description": {
            "type": "string",
            "description": "函数功能的描述，供模型选择何时以及如何调用函数。"
          },
          "parameters": {
            "$ref": "#/components/schemas/FunctionParameters"
          }
        },
        "required": [
          "name",
          "description",
          "parameters"
        ]
      },
      "FunctionParameters": {
        "type": "object",
        "description": "使用 JSON Schema 定义的参数。必须传递 JSON Schema 对象以准确定义接受的参数。如果调用函数时不需要参数，则省略。",
        "additionalProperties": true
      },
      "RetrievalToolSchema": {
        "type": "object",
        "title": "Retrieval",
        "properties": {
          "type": {
            "type": "string",
            "default": "retrieval",
            "enum": [
              "retrieval"
            ]
          },
          "retrieval": {
            "$ref": "#/components/schemas/RetrievalObject"
          }
        },
        "required": [
          "type",
          "retrieval"
        ],
        "additionalProperties": false
      },
      "RetrievalObject": {
        "type": "object",
        "properties": {
          "knowledge_id": {
            "type": "string",
            "description": "知识库 ID，从平台创建或获取"
          },
          "prompt_template": {
            "type": "string",
            "description": "请求模型的提示模板，包含占位符 `{{ knowledge }}` 和 `{{ question }}` 的自定义请求模板。默认模板：`在文档 `{{ knowledge }}` 中搜索问题 `{{question}}` 的答案。如果找到答案，仅使用文档中的陈述进行回应；如果没有找到答案，使用你自己的知识回答并告知用户信息不来自文档。不要重复问题，直接开始答案。`"
          }
        },
        "required": [
          "knowledge_id"
        ]
      },
      "ChatCompletionResponse": {
        "type": "object",
        "properties": {
          "id": {
            "description": "任务 ID",
            "type": "string"
          },
          "request_id": {
            "description": "请求 ID",
            "type": "string"
          },
          "created": {
            "description": "请求创建时间，Unix 时间戳（秒）",
            "type": "integer"
          },
          "model": {
            "description": "模型名称",
            "type": "string"
          },
          "choices": {
            "type": "array",
            "description": "模型响应列表",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer",
                  "description": "结果索引"
                },
                "message": {
                  "$ref": "#/components/schemas/ChatCompletionResponseMessage"
                },
                "finish_reason": {
                  "type": "string",
                  "description": "推理终止原因。可以是 'stop'、'tool_calls'、'length'、'sensitive' 或 'network_error'。"
                }
              }
            }
          },
          "usage": {
            "type": "object",
            "description": "调用结束时返回的 Token 使用统计。",
            "properties": {
              "prompt_tokens": {
                "type": "integer",
                "description": "用户输入的 Token 数量"
              },
              "completion_tokens": {
                "type": "integer",
                "description": "输出的 Token 数量"
              },
              "total_tokens": {
                "type": "integer",
                "description": "Token 总数"
              }
            }
          }
        }
      },
      "ChatCompletionResponseMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "当前对话角色，默认为 'assistant'",
            "example": "assistant"
          },
          "content": {
            "type": "string",
            "description": "当前对话内容。如果调用函数则为 null，否则返回推理结果。"
          },
          "tool_calls": {
            "type": "array",
            "description": "生成的应该被调用的函数名称和参数。",
            "items": {
              "$ref": "#/components/schemas/ChatCompletionResponseMessageToolCall"
            }
          }
        }
      },
      "ChatCompletionResponseMessageToolCall": {
        "type": "object",
        "properties": {
          "function": {
            "type": "object",
            "description": "包含生成的函数名称和 JSON 格式参数。",
            "properties": {
              "name": {
                "type": "string",
                "description": "生成的函数名称。"
              },
              "arguments": {
                "type": "object",
                "description": "生成的函数调用参数的 JSON 格式。调用函数前请验证参数。"
              }
            },
            "required": [
              "name",
              "arguments"
            ]
          },
          "id": {
            "type": "string",
            "description": "命中函数的唯一标识符。"
          },
          "type": {
            "type": "string",
            "description": "调用的工具类型，目前仅支持 'function'。"
          }
        }
      },
      "CogVideoX2Request": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "description": "要调用的代码。",
                "enum": [
                  "cogvideox-2"
                ]
              },
              "prompt": {
                "type": "string",
                "description": "视频的文本描述，最大输入长度为 512 个 Token。必须提供 image_url 或 prompt，或两者都提供。"
              },
              "quality": {
                "type": "string",
                "description": "输出模式，默认为 `speed`。\n `quality`：优先质量，生成质量更高。\n`speed`：优先速度，生成时间更快，质量相对较低。",
                "example": "speed",
                "enum": [
                  "speed",
                  "quality"
                ]
              },
              "with_audio": {
                "type": "boolean",
                "description": "是否生成 AI 音效。默认：`false`（无音效）。",
                "example": false
              },
              "image_url": {
                "description": "用于内容生成的基础图像。如果提供，系统将基于此图像进行操作。支持 URL 或 Base64 编码图像。图像要求：支持 .png、.jpeg、.jpg 格式；图像大小不超过 5M。必须提供 image_url 或 prompt，或两者都提供。",
                "oneOf": [
                  {
                    "title": "Image URL",
                    "type": "string",
                    "format": "uri",
                    "example": "https://example.com/image.png"
                  },
                  {
                    "title": "Base64 Encoded Image",
                    "type": "string",
                    "format": "byte",
                    "example": "data:image/png;base64, XXX"
                  }
                ]
              },
              "size": {
                "type": "string",
                "description": "默认：如果未指定，生成视频的短边默认为 1080，长边根据原始图像比例缩放。支持最高 4K 分辨率。分辨率选项：`720x480`、`1024x1024`、`1280x960`、`960x1280`、`1920x1080`、`1080x1920`、`2048x1080`、`3840x2160`。",
                "example": "1920x1080",
                "enum": [
                  "720x480",
                  "1024x1024",
                  "1280x960",
                  "960x1280",
                  "1920x1080",
                  "1080x1920",
                  "2048x1080",
                  "3840x2160"
                ]
              },
              "fps": {
                "type": "integer",
                "description": "视频帧率（FPS），可选值为 `30` 或 `60`。默认：`30`。",
                "example": 30,
                "enum": [
                  30,
                  60
                ]
              }
            },
            "required": [
              "model"
            ]
          },
          {
            "$ref": "#/components/schemas/VideoCommonRequest"
          }
        ]
      },
      "ViduText2VideoRequest": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "description": "要调用的代码。",
                "enum": [
                  "viduq1-text"
                ]
              },
              "prompt": {
                "type": "string",
                "description": "视频的文本描述，最大输入长度为 512 个 Token。"
              },
              "style": {
                "type": "string",
                "description": "风格\n默认：`general`\n可选值：`general`、`anime`\n`general`：通用风格，可以使用提示词控制定义风格。\n`anime`：动漫风格，针对动漫特定视觉效果进行优化。可以使用不同的动漫主题提示词控制风格。",
                "enum": [
                  "general",
                  "anime"
                ]
              },
              "duration": {
                "type": "integer",
                "description": "视频时长参数。\n默认：`5`，可选：`5`。",
                "example": 5,
                "enum": [
                  5
                ]
              },
              "aspect_ratio": {
                "type": "string",
                "description": "宽高比\n默认：`16:9`，可选值：`16:9`、`9:16`、`1:1`",
                "example": "16:9",
                "enum": [
                  "16:9",
                  "9:16",
                  "1:1"
                ]
              },
              "size": {
                "type": "string",
                "description": "分辨率参数\n默认：`1920x1080`，可选：`1920x1080`",
                "example": "1920x1080",
                "enum": [
                  "1920x1080"
                ]
              },
              "movement_amplitude": {
                "type": "string",
                "description": "运动幅度\n默认：`auto`，可选值：`auto`、`small`、`medium`、`large`",
                "example": "auto",
                "enum": [
                  "auto",
                  "small",
                  "medium",
                  "large"
                ]
              }
            },
            "required": [
              "model",
              "prompt"
            ]
          },
          {
            "$ref": "#/components/schemas/VideoCommonRequest"
          }
        ]
      },
      "ViduImage2VideoRequest": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "description": "要调用的代码。",
                "enum": [
                  "viduq1-image",
                  "vidu2-image"
                ]
              },
              "prompt": {
                "type": "string",
                "description": "视频的文本描述，最大输入长度为 512 个 Token。必须提供 image_url 或 prompt，或两者都提供。"
              },
              "image_url": {
                "type": "string",
                "description": "系统将使用此参数中提供的图像作为第一帧来生成视频。\n仅支持 `1` 张图像。\n支持的格式：`png`、`jpeg`、`jpg`、`webp`。\n图像宽高比必须小于 `1:4` 或 `4:1`。\n图像文件大小不得超过 `50MB`。\n注意：Base64 解码后，字节长度必须小于 50 MB，编码必须包含适当的内容类型字符串（例如，`data:image/png;base64,{base64_encode}`）。",
                "oneOf": [
                  {
                    "title": "Image URL",
                    "type": "string",
                    "format": "uri",
                    "example": "https://example.com/image.png"
                  },
                  {
                    "title": "Base64 Encoded Image",
                    "type": "string",
                    "format": "byte",
                    "example": "data:image/png;base64, XXX"
                  }
                ]
              },
              "duration": {
                "oneOf": [
                  {
                    "title": "viduq1-image",
                    "type": "integer",
                    "description": "视频时长参数。\n默认：`5`，可选：`5`。",
                    "example": 5,
                    "enum": [
                      5
                    ]
                  },
                  {
                    "title": "viduq2-image",
                    "type": "integer",
                    "description": "视频时长参数。\n默认：`4`，可选：`4`。",
                    "example": 4,
                    "enum": [
                      4
                    ]
                  }
                ]
              },
              "size": {
                "oneOf": [
                  {
                    "title": "viduq1-image",
                    "type": "string",
                    "description": "分辨率参数\n默认：`1920x1080`，可选：`1920x1080`",
                    "example": "1920x1080",
                    "enum": [
                      "1920x1080"
                    ]
                  },
                  {
                    "title": "viduq2-image",
                    "type": "string",
                    "description": "分辨率参数\n默认：`1280x720`，可选：`1280x720`",
                    "example": "1280x720",
                    "default": "1280x720",
                    "enum": [
                      "1280x720"
                    ]
                  }
                ]
              },
              "movement_amplitude": {
                "type": "string",
                "description": "运动幅度\n默认：`auto`，可选值：`auto`、`small`、`medium`、`large`",
                "example": "auto",
                "enum": [
                  "auto",
                  "small",
                  "medium",
                  "large"
                ]
              },
              "with_audio": {
                "type": "boolean",
                "description": "为生成的视频添加背景音乐。"
              }
            },
            "required": [
              "model"
            ]
          },
          {
            "$ref": "#/components/schemas/VideoCommonRequest"
          }
        ]
      },
      "ViduFrames2VideoRequest": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "description": "要调用的代码。",
                "enum": [
                  "viduq1-start-end",
                  "vidu2-start-end"
                ]
              },
              "prompt": {
                "type": "string",
                "description": "视频的文本描述，最大输入长度为 512 个 Token。必须提供 image_url 或 prompt，或两者都提供。"
              },
              "image_url": {
                "type": "array",
                "description": "图像\n支持输入两张图像：第一张上传的图像将被视为第一帧，第二张图像作为最后一帧。模型将使用此参数中提供的图像来生成视频。\n两张输入图像（第一帧和最后一帧）的分辨率必须相似，第一帧分辨率与最后一帧分辨率的比例应在 `0.8–1.25` 范围内。此外，图像宽高比必须小于 `1:4` 或 `4:1`。\n支持图像 URL 或 Base64 编码的图像（确保可访问性；建议使用图像 URL）。\n支持的格式：`png`、`jpeg`、`.jpg`、`webp`。\n图像文件大小不得超过 `50 MB`。\n注意：Base64 解码后，字节长度必须小于 50 MB，编码必须包含适当的内容类型字符串，例如 `data:image/png;base64,{base64_encode}`。",
                "items": {
                  "type": "string",
                  "minLength": 1
                },
                "minItems": 1,
                "maxItems": 2
              },
              "duration": {
                "oneOf": [
                  {
                    "title": "viduq1-start-end",
                    "type": "integer",
                    "description": "视频时长参数。\n默认：`5`，可选：`5`。",
                    "example": 5,
                    "enum": [
                      5
                    ]
                  },
                  {
                    "title": "vidu2-start-end",
                    "type": "integer",
                    "description": "视频时长参数。\n默认：`4`，可选：`4`。",
                    "example": 4,
                    "enum": [
                      4
                    ]
                  }
                ]
              },
              "size": {
                "oneOf": [
                  {
                    "title": "viduq1-start-end",
                    "type": "string",
                    "description": "分辨率参数\n默认：`1920x1080`，可选：`1920x1080`",
                    "example": "1920x1080",
                    "enum": [
                      "1920x1080"
                    ]
                  },
                  {
                    "title": "vidu2-start-end",
                    "type": "string",
                    "description": "分辨率参数\n默认：`1280x720`，可选：`1280x720`",
                    "example": "1280x720",
                    "default": "1280x720",
                    "enum": [
                      "1280x720"
                    ]
                  }
                ]
              },
              "movement_amplitude": {
                "type": "string",
                "description": "运动幅度\n默认：`auto`，可选值：`auto`、`small`、`medium`、`large`",
                "example": "auto",
                "enum": [
                  "auto",
                  "small",
                  "medium",
                  "large"
                ]
              },
              "with_audio": {
                "type": "boolean",
                "description": "为生成的视频添加背景音乐。"
              }
            },
            "required": [
              "model"
            ]
          },
          {
            "$ref": "#/components/schemas/VideoCommonRequest"
          }
        ]
      },
      "ViduReference2VideoRequest": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "description": "要调用的代码。",
                "enum": [
                  "vidu2-reference"
                ]
              },
              "prompt": {
                "type": "string",
                "description": "视频的文本描述，最大输入长度为 512 个 Token。必须提供 image_url 或 prompt，或两者都提供。"
              },
              "image_url": {
                "type": "array",
                "description": "图像参考\n支持输入 1 到 3 张图像。模型将使用此参数中提供的图像主题作为参考，生成具有一致主体的视频。\n1. 支持图像 URL 或 Base64 编码的图像（确保可访问性；建议优先使用图像 URL）。\n2. 支持的格式：`png`、`jpeg`、`.jpg`、`webp`。\n3. 图像分辨率不得小于 `128x128`，宽高比必须小于 `1:4` 或 `4:1`。\n4. 图像文件大小不得超过 `50 MB`。\n5. 注意：Base64 解码后，字节长度必须小于 50 MB，编码必须包含适当的内容类型字符串，例如 `data:image/png;base64,{base64_encode}`。",
                "items": {
                  "type": "string",
                  "minLength": 1
                },
                "minItems": 1,
                "maxItems": 3
              },
              "duration": {
                "title": "vidu2-reference",
                "type": "integer",
                "description": "视频时长参数。\n默认：`4`，可选：`4`。",
                "example": 4,
                "enum": [
                  4
                ]
              },
              "aspect_ratio": {
                "type": "string",
                "description": "宽高比\n默认：`16:9`，可选值：`16:9`、`9:16`、`1:1`",
                "example": "16:9",
                "enum": [
                  "16:9",
                  "9:16",
                  "1:1"
                ]
              },
              "size": {
                "title": "vidu2-reference ",
                "type": "string",
                "description": "分辨率参数\n默认：`1280x720`，可选：`1280x720`",
                "example": "1280x720",
                "enum": [
                  "1280x720"
                ]
              },
              "movement_amplitude": {
                "type": "string",
                "description": "运动幅度\n默认：`auto`，可选值：`auto`、`small`、`medium`、`large`",
                "example": "auto",
                "enum": [
                  "auto",
                  "small",
                  "medium",
                  "large"
                ]
              },
              "with_audio": {
                "type": "boolean",
                "description": "为生成的视频添加背景音乐。"
              }
            },
            "required": [
              "model"
            ]
          },
          {
            "$ref": "#/components/schemas/VideoCommonRequest"
          }
        ]
      },
      "VideoCommonRequest": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string",
            "description": "由客户端提供，必须唯一；用于区分每个请求的唯一标识符。如果客户端未提供，平台将默认生成一个。"
          },
          "user_id": {
            "type": "string",
            "description": "终端用户的唯一 ID，协助平台干预终端用户违规、生成非法或不当信息或其他滥用行为。ID 长度要求：最少 `6` 个字符，最多 `128` 个字符。"
          }
        }
      },
      "VideoResponse": {
        "type": "object",
        "properties": {
          "model": {
            "description": "此次调用使用的名称。",
            "type": "string"
          },
          "id": {
            "description": "Z.AI 生成的任务订单号，调用请求结果接口时使用此订单号。",
            "type": "string"
          },
          "request_id": {
            "description": "用户在客户端请求期间提交的任务编号或平台生成的任务编号。",
            "type": "string"
          },
          "task_status": {
            "description": "处理状态，`PROCESSING (处理中)`、`SUCCESS (成功)`、`FAIL (失败)`。结果需要通过查询获取。",
            "type": "string"
          }
        }
      },
      "WebSearchRequest": {
        "type": "object",
        "properties": {
          "search_query": {
            "type": "string",
            "description": "要搜索的内容。"
          },
          "search_engine": {
            "type": "string",
            "description": "要调用的搜索引擎代码。目前支持：\n`search_std`：Z.AI 基础搜索引擎\n`search_pro`：Z.AI 高级搜索引擎\n`search_pro_sogou`：搜狗搜索引擎\n`search_pro_quark`：夸克搜索引擎\n`search_pro_jina`：jina.ai 搜索引擎\n默认为 `search_std`。",
            "example": "search_std",
            "default": "search_std",
            "enum": [
              "search_std",
              "search_pro",
              "search_pro_sogou",
              "search_pro_quark",
              "search_pro_jina"
            ]
          },
          "count": {
            "type": "integer",
            "description": "返回结果的数量\n可填范围：`1-50`，单次搜索最多 `50` 个结果\n默认为 `10`\n支持的搜索引擎：\n`search_pro`、`search_std`、`search_pro_sogou`\n搜狗：可选枚举值为 `10`、`20`、`30`、`40`、`50`。",
            "minimum": 1,
            "maximum": 50
          },
          "search_domain_filter": {
            "type": "string",
            "description": "用于限制搜索结果范围，仅返回指定白名单域名的内容。\n白名单：直接输入域名（例如，`www.example.com`）\n支持的搜索引擎：\n`search_std`、`search_pro`、`search_pro_sogou`、`search_pro_jina`"
          },
          "search_recency_filter": {
            "type": "string",
            "description": "在指定时间范围内搜索网页。\n默认为 `noLimit`\n可填值：\n`oneDay`：一天内\n`oneWeek`：一周内\n`oneMonth`：一个月内\n`oneYear`：一年内\n`noLimit`：无限制（默认）\n支持的搜索引擎：\n`search_std`、`search_pro`、`search_pro_sogou`、`search_pro_quark`",
            "enum": [
              "oneDay",
              "oneWeek",
              "oneMonth",
              "oneYear",
              "noLimit"
            ]
          },
          "content_size": {
            "type": "string",
            "description": "网页摘要的字符数。\n默认为 `medium`\n`medium`：适用于大多数查询的平衡模式，400-600 个字符\n`high`：为全面答案最大化上下文，2500 个字符。",
            "example": "medium",
            "default": "medium",
            "enum": [
              "medium",
              "high"
            ]
          },
          "request_id": {
            "type": "string",
            "description": "用户提供的用于区分请求的唯一标识符。如果未提供，平台将生成一个。"
          },
          "user_id": {
            "type": "string",
            "description": "终端用户的唯一 ID，帮助平台干预非法活动、不当内容生成或其他滥用行为。ID 长度：6 到 128 个字符。"
          }
        },
        "required": [
          "search_query"
        ]
      },
      "WebSearchResponse": {
        "type": "object",
        "properties": {
          "id": {
            "description": "任务 ID。",
            "type": "string"
          },
          "created": {
            "description": "请求创建时间，Unix 时间戳（秒）。",
            "type": "integer"
          },
          "search_intent": {
            "description": "搜索意图结果。",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "query": {
                  "type": "string",
                  "description": "原始搜索查询。"
                },
                "intent": {
                  "type": "string",
                  "description": "识别的意图类型。\n`SEARCH_ALL`：搜索整个网络\n`SEARCH_NONE`：无搜索意图"
                },
                "keywords": {
                  "type": "string",
                  "description": "重写的搜索关键词。"
                }
              }
            }
          },
          "search_result": {
            "description": "搜索结果。",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "description": "标题。"
                },
                "content": {
                  "type": "string",
                  "description": "内容摘要。"
                },
                "link": {
                  "type": "string",
                  "description": "结果链接。"
                },
                "media": {
                  "type": "string",
                  "description": "网站名称。"
                },
                "icon": {
                  "type": "string",
                  "description": "网站图标。"
                },
                "refer": {
                  "type": "string",
                  "description": "索引号。"
                },
                "publish_date": {
                  "type": "string",
                  "description": "网站发布日期。"
                }
              }
            }
          }
        }
      },
      "AudioSpeechRequest": {
        "type": "object",
        "required": [
          "model",
          "input",
          "voice"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "要使用的TTS模型"
          },
          "input": {
            "type": "string",
            "description": "要转换为语音的文本",
            "maxLength": 4096
          },
          "voice": {
            "type": "string",
            "enum": [
              "alloy",
              "echo",
              "fable",
              "onyx",
              "nova",
              "shimmer"
            ],
            "description": "用于生成音频的语音"
          },
          "response_format": {
            "type": "string",
            "enum": [
              "mp3",
              "opus",
              "aac",
              "flac"
            ],
            "default": "mp3",
            "description": "音频输出格式"
          },
          "speed": {
            "type": "number",
            "minimum": 0.25,
            "maximum": 4.0,
            "default": 1.0,
            "description": "生成音频的速度"
          }
        }
      },
      "AudioTranscriptionRequest": {
        "type": "object",
        "required": [
          "file",
          "model"
        ],
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "要转录的音频文件"
          },
          "model": {
            "type": "string",
            "description": "要使用的ASR模型"
          },
          "language": {
            "type": "string",
            "description": "音频的语言（ISO-639-1格式）"
          },
          "prompt": {
            "type": "string",
            "description": "可选的文本提示"
          },
          "response_format": {
            "type": "string",
            "enum": [
              "json",
              "text",
              "srt",
              "verbose_json",
              "vtt"
            ],
            "default": "json",
            "description": "转录输出格式"
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "default": 0,
            "description": "采样温度"
          }
        }
      },
      "AudioTranscriptionResponse": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "转录的文本"
          }
        }
      },
      "ImageGenerationRequest": {
        "type": "object",
        "required": [
          "model",
          "prompt"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "要使用的图像生成模型"
          },
          "prompt": {
            "type": "string",
            "description": "描述所需图像的文本提示"
          },
          "n": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10,
            "default": 1,
            "description": "要生成的图像数量"
          },
          "quality": {
            "type": "string",
            "enum": [
              "standard",
              "hd"
            ],
            "default": "standard",
            "description": "生成图像的质量"
          },
          "response_format": {
            "type": "string",
            "enum": [
              "url",
              "b64_json"
            ],
            "default": "url",
            "description": "返回生成图像的格式"
          },
          "size": {
            "type": "string",
            "enum": [
              "256x256",
              "512x512",
              "1024x1024",
              "1792x1024",
              "1024x1792"
            ],
            "default": "1024x1024",
            "description": "生成图像的尺寸"
          },
          "style": {
            "type": "string",
            "enum": [
              "vivid",
              "natural"
            ],
            "default": "vivid",
            "description": "生成图像的风格"
          },
          "user": {
            "type": "string",
            "description": "代表最终用户的唯一标识符"
          }
        }
      },
      "ImageGenerationResponse": {
        "type": "object",
        "properties": {
          "created": {
            "type": "integer",
            "description": "图像生成的Unix时间戳"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ImageObject"
            }
          }
        }
      },
      "ImageObject": {
        "type": "object",
        "properties": {
          "b64_json": {
            "type": "string",
            "description": "生成图像的base64编码JSON"
          },
          "url": {
            "type": "string",
            "description": "生成图像的URL"
          },
          "revised_prompt": {
            "type": "string",
            "description": "修订后的提示"
          }
        }
      },
      "EmbeddingCreateRequest": {
        "type": "object",
        "required": [
          "model",
          "input"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "要使用的嵌入模型"
          },
          "input": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ],
            "description": "要嵌入的输入文本"
          },
          "encoding_format": {
            "type": "string",
            "enum": [
              "float",
              "base64"
            ],
            "default": "float",
            "description": "嵌入的编码格式"
          },
          "dimensions": {
            "type": "integer",
            "minimum": 1,
            "description": "输出嵌入的维数"
          },
          "user": {
            "type": "string",
            "description": "代表最终用户的唯一标识符"
          }
        }
      },
      "EmbeddingResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmbeddingObject"
            }
          },
          "model": {
            "type": "string",
            "description": "使用的模型"
          },
          "usage": {
            "$ref": "#/components/schemas/EmbeddingUsage"
          }
        }
      },
      "EmbeddingObject": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "embedding"
            ]
          },
          "embedding": {
            "type": "array",
            "items": {
              "type": "number"
            },
            "description": "嵌入向量"
          },
          "index": {
            "type": "integer",
            "description": "嵌入在列表中的索引"
          }
        }
      },
      "EmbeddingUsage": {
        "type": "object",
        "properties": {
          "prompt_tokens": {
            "type": "integer",
            "description": "提示中的token数量"
          },
          "total_tokens": {
            "type": "integer",
            "description": "总token数量"
          }
        }
      },
      "FileUploadRequest": {
        "type": "object",
        "required": [
          "file",
          "purpose"
        ],
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "description": "要上传的文件"
          },
          "purpose": {
            "type": "string",
            "enum": [
              "fine-tune",
              "assistants"
            ],
            "description": "文件的预期用途"
          }
        }
      },
      "FileObject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "文件标识符"
          },
          "object": {
            "type": "string",
            "enum": [
              "file"
            ]
          },
          "bytes": {
            "type": "integer",
            "description": "文件大小（字节）"
          },
          "created_at": {
            "type": "integer",
            "description": "文件创建的Unix时间戳"
          },
          "filename": {
            "type": "string",
            "description": "文件名"
          },
          "purpose": {
            "type": "string",
            "description": "文件的预期用途"
          }
        }
      },
      "FileListResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FileObject"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "是否有更多数据"
          }
        }
      },
      "FileDeletedResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "删除的文件ID"
          },
          "object": {
            "type": "string",
            "enum": [
              "file"
            ]
          },
          "deleted": {
            "type": "boolean",
            "description": "是否成功删除"
          }
        }
      },
      "FineTuningJobCreateRequest": {
        "type": "object",
        "required": [
          "model",
          "training_file"
        ],
        "properties": {
          "model": {
            "type": "string",
            "description": "要微调的基础模型名称"
          },
          "training_file": {
            "type": "string",
            "description": "包含训练数据的上传文件ID"
          },
          "validation_file": {
            "type": "string",
            "description": "包含验证数据的上传文件ID"
          },
          "suffix": {
            "type": "string",
            "maxLength": 40,
            "description": "微调模型名称的后缀"
          },
          "hyperparameters": {
            "type": "object",
            "properties": {
              "n_epochs": {
                "type": "integer",
                "minimum": 1,
                "maximum": 50,
                "default": 3,
                "description": "训练轮数"
              },
              "batch_size": {
                "type": "integer",
                "minimum": 1,
                "maximum": 256,
                "description": "批次大小"
              },
              "learning_rate_multiplier": {
                "type": "number",
                "minimum": 0.02,
                "maximum": 0.2,
                "description": "学习率乘数"
              }
            }
          }
        }
      },
      "FineTuningJobObject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "微调任务ID"
          },
          "object": {
            "type": "string",
            "enum": [
              "fine_tuning.job"
            ]
          },
          "created_at": {
            "type": "integer",
            "description": "任务创建的Unix时间戳"
          },
          "finished_at": {
            "type": "integer",
            "description": "任务完成的Unix时间戳"
          },
          "model": {
            "type": "string",
            "description": "基础模型名称"
          },
          "fine_tuned_model": {
            "type": "string",
            "description": "微调后的模型名称"
          },
          "organization_id": {
            "type": "string",
            "description": "组织ID"
          },
          "status": {
            "type": "string",
            "enum": [
              "validating_files",
              "queued",
              "running",
              "succeeded",
              "failed",
              "cancelled"
            ],
            "description": "任务状态"
          },
          "hyperparameters": {
            "type": "object",
            "description": "微调超参数"
          },
          "training_file": {
            "type": "string",
            "description": "训练文件ID"
          },
          "validation_file": {
            "type": "string",
            "description": "验证文件ID"
          },
          "result_files": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "结果文件ID列表"
          },
          "trained_tokens": {
            "type": "integer",
            "description": "已训练的token数量"
          }
        }
      },
      "FineTuningJobListResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FineTuningJobObject"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "是否有更多数据"
          }
        }
      },
      "FineTuningJobDeletedResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "删除的任务ID"
          },
          "object": {
            "type": "string",
            "enum": [
              "fine_tuning.job"
            ]
          },
          "deleted": {
            "type": "boolean",
            "description": "是否成功删除"
          }
        }
      },
      "FineTuningJobEventListResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "enum": [
              "list"
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FineTuningJobEventObject"
            }
          },
          "has_more": {
            "type": "boolean",
            "description": "是否有更多数据"
          }
        }
      },
      "FineTuningJobEventObject": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "事件ID"
          },
          "object": {
            "type": "string",
            "enum": [
              "fine_tuning.job.event"
            ]
          },
          "created_at": {
            "type": "integer",
            "description": "事件创建的Unix时间戳"
          },
          "level": {
            "type": "string",
            "enum": [
              "info",
              "warn",
              "error"
            ],
            "description": "日志级别"
          },
          "message": {
            "type": "string",
            "description": "事件消息"
          },
          "data": {
            "type": "object",
            "description": "事件数据"
          },
          "type": {
            "type": "string",
            "description": "事件类型"
          }
        }
      },
      "FineTunedModelDeletedResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "删除的模型ID"
          },
          "object": {
            "type": "string",
            "enum": [
              "model"
            ]
          },
          "deleted": {
            "type": "boolean",
            "description": "是否成功删除"
          }
        }
      },
      "WebSearchParamsRequest": {
        "type": "object",
        "properties": {
          "search_query": {
            "type": "string",
            "description": "搜索查询字符串"
          },
          "search_engine": {
            "type": "string",
            "description": "搜索引擎类型",
            "enum": [
              "google",
              "bing"
            ]
          },
          "count": {
            "type": "integer",
            "description": "返回结果数量",
            "default": 10
          },
          "search_domain_filter": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "域名过滤器"
          },
          "search_recency_filter": {
            "type": "string",
            "description": "时间过滤器",
            "enum": [
              "day",
              "week",
              "month",
              "year"
            ]
          },
          "content_size": {
            "type": "string",
            "description": "内容大小",
            "enum": [
              "small",
              "medium",
              "large"
            ]
          }
        },
        "required": [
          "search_query"
        ]
      },
      "AgentRequest": {
        "type": "object",
        "required": [
          "agent_id",
          "messages"
        ],
        "properties": {
          "agent_id": {
            "type": "string",
            "description": "智能体 ID。例如：翻译智能体ID为 general_translation；专业文档翻译智能体ID为： doc_translation_agent。",
            "example": "general_translation"
          },
          "stream": {
            "type": "boolean",
            "description": "使用同步调用时，此参数应当设置为 false 或者省略。表示模型生成完所有内容后一次性返回所有内容。默认值为 false。如果设置为 true，模型将通过标准 Event Stream，逐块返回模型生成内容。Event Stream 结束时会返回一条 data: [DONE] 消息。",
            "default": false,
            "example": false
          },
          "messages": {
            "type": "array",
            "description": "会话消息体列表。",
            "items": {
              "type": "object",
              "required": [
                "role",
                "content"
              ],
              "properties": {
                "role": {
[...]
